*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
body{
    background-color: rgb(7, 27, 66);
    display: flex;
    place-content: center;
    padding-top: 30vh;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='760' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1036)'%3e%3c/rect%3e%3cpath d='M47.38 140C47.38 114.13 9.61 123.76 0 95.36C-14.08 53.76 -28.36 19.32 0 0C41.64 -28.36 70 0 140 0C210 0 210 0 280 0C350 0 350 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1050 0 1050 0 1120 0C1150.73 0 1153.07 -8.94 1181.46 0C1223.07 13.11 1224.88 44.11 1260 44.11C1282.24 44.11 1271.36 7.82 1296.18 0C1341.36 -14.23 1348.09 0 1400 0C1462.43 0 1501.55 -32.72 1524.86 0C1551.41 37.28 1494.2 76.55 1499.73 140C1501.77 163.45 1533.33 150.61 1540 173.79C1553.47 220.61 1540 226.89 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C947.06 560 945.07 568.31 914.12 560C875.07 549.51 877.29 522.39 840 522.39C800.85 522.39 802.38 548.95 761.25 560C732.38 567.76 730.63 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 350 0 350 0 280C0 251.62 -8.82 249.29 0 223.24C14.87 179.29 47.38 178.07 47.38 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 50.91C830.42 50.91 816.67 95.84 816.67 140C816.67 175.38 830.36 210 840 210C849.34 210 854.63 175.16 854.63 140C854.63 95.61 849.4 50.91 840 50.91' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 78.75C1105.9 78.75 1093.51 109.22 1093.51 140C1093.51 172.51 1105.89 205.33 1120 205.33C1134.45 205.33 1150.63 172.47 1150.63 140C1150.63 109.18 1134.46 78.75 1120 78.75' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 243.79C105 243.79 70 254.08 70 280C70 317.84 105 371.3 140 371.3C175 371.3 210 317.84 210 280C210 254.08 175 243.79 140 243.79' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M101.23 140C101.23 84.09 113.77 74.99 140 20C147.16 4.99 151.55 2.35 168 0C221.55 -7.65 224 0 280 0C311.11 0 314.74 -11.14 342.22 0C384.74 17.24 382.71 56.76 420 56.76C452.48 56.76 445.54 14.68 481.76 0C515.54 -13.7 520.88 0 560 0C630 0 630 0 700 0C730.27 0 755.57 -20.86 760.54 0C772.24 49.14 753.21 72.13 733.33 140C722.94 175.47 719.67 206.67 700 206.67C678.01 206.67 679.73 168.62 650 140C609.73 101.23 601.99 71.89 560 71.89C525.49 71.89 497 105.51 497 140C497 175.57 525.38 179.26 560 212C599.38 249.26 623.28 234.65 645 280C673.09 338.65 678.94 357.19 659.62 420C636.44 495.35 621.85 540.15 560 556.32C502.04 571.47 486.82 481.61 420 482.63C366.13 483.45 372.35 530.31 318.62 560C302.35 568.99 299.31 560 280 560C262.5 560 254.12 572.99 245 560C204.99 502.99 172.87 483.97 181.75 420C190.37 357.97 230.24 363.42 280 308C293.09 293.42 301.83 298.16 307.45 280C327.83 214.16 340.42 205.3 332 140C326.7 98.9 307.06 67.2 280 67.2C251.71 67.2 256.54 110.73 221.29 140C186.54 168.85 176.79 183.45 140 183.45C116.76 183.45 101.23 165.82 101.23 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M123.2 0C123.2 11.5 45.95 44.64 0 44.64C-15.65 44.64 -16.38 5.94 0 0C45.22 -16.38 123.2 -10.82 123.2 0' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M906.87 140C927.89 87.14 944.54 47.55 980 47.55C1014.21 47.55 1021.94 89.32 1046.22 140C1077.62 205.55 1064.11 212.25 1091.36 280C1101 303.97 1104.93 323.45 1120 323.45C1135.83 323.45 1141.73 304.57 1153.16 280C1184.39 212.84 1169.38 203.2 1205.31 140C1222.8 109.23 1235.31 118.6 1260 92.05C1300.41 48.6 1290.1 29.85 1335.51 0C1360.1 -16.17 1367.76 0 1400 0C1438.78 0 1468.44 -24.69 1477.57 0C1494.33 45.31 1434.52 80.84 1451.78 140C1465.74 187.85 1511.96 169.52 1540 214.02C1556.07 239.52 1540 247.01 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1067.5 560 1064.71 568.77 1015 560C994.71 556.42 999 545.05 980 535.29C911.5 500.12 908.71 505.18 840 470.15C795.64 447.54 753.85 449.86 753.85 420C753.85 384.78 799.51 382.39 840 340C866.36 312.39 875.8 315.14 887.55 280C909.24 215.14 881.67 203.37 906.87 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 220.43C1373.04 220.43 1342.86 247.75 1342.86 280C1342.86 319.96 1373.48 364.85 1400 364.85C1425 364.85 1445.9 320.58 1445.9 280C1445.9 248.37 1424.56 220.43 1400 220.43' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 308.57C27.82 308.57 97.5 365.01 97.5 420C97.5 473.22 28.13 525 0 525C-20.62 525 0 472.5 0 420C0 364.28 -20.93 308.57 0 308.57' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M959.1 140C961.66 123.87 969.87 113.58 980 113.58C989.78 113.58 995.93 124.38 998.92 140C1011.84 207.59 990.91 214.4 1011.82 280C1035.54 354.4 1097.33 366.32 1088.18 420C1081.42 459.66 1034.88 466.67 980 466.67C914.68 466.67 853.65 461.45 847.78 420C840.44 368.12 922.63 357.85 953.58 280C978.29 217.85 948.45 207.08 959.1 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 140C1252.91 98.86 1313.37 61.46 1374.83 0C1383.37 -8.54 1387.41 0 1400 0C1415.14 0 1429.93 -12.27 1430.27 0C1431.85 57.73 1418.26 70.48 1403.84 140C1403.12 143.46 1403.46 145.96 1400 145.96C1331.54 145.96 1265.49 171.84 1260 140' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M376.08 280C376.08 221.97 388.74 162.11 420 162.11C457.36 162.11 466.19 221.44 513.33 280C536.19 308.39 542.33 304.67 560 336C581.82 374.67 592.31 380.14 592.31 420C592.31 444.25 581.27 464.21 560 464.21C523.12 464.21 515.59 445.7 476 420C445.59 400.26 440.69 402.32 420 373.33C390.73 332.32 376.08 327.58 376.08 280' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1245.26 280C1268.13 215.19 1253.45 140 1260 140C1266.54 140 1254.61 212.7 1271.43 280C1289.61 352.7 1289.4 358.68 1330 420C1353.68 455.77 1359.71 459.04 1400 474.19C1464.71 498.52 1491.02 468.95 1540 498.97C1561.02 511.86 1561.25 550.74 1540 560C1491.25 581.25 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1116.11 560 1112.22 563.21 1112.22 560C1112.22 543.21 1113.3 539.16 1120 520C1137.78 469.16 1136.23 467.81 1161.18 420C1198.86 347.81 1218.72 355.19 1245.26 280' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1503.28 280C1503.28 263.38 1528.34 254.25 1540 254.25C1546.7 254.25 1540 267.13 1540 280C1540 309.48 1548.43 338.95 1540 338.95C1530.07 338.95 1503.28 305.73 1503.28 280' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 380C9.99 380 35 400.26 35 420C35 439.1 10.1 457.69 0 457.69C-7.4 457.69 0 438.85 0 420C0 400 -7.51 380 0 380' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M243.16 420C243.16 397.07 257.11 378 280 378C321.18 378 371.3 394.6 371.3 420C371.3 448.42 318.38 485.63 280 485.63C254.31 485.63 243.16 450.89 243.16 420' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1036'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.container {
    width: 31.25em;
    background-color:#f8f8f8;
    padding: 5em 3.75em;
    position: absolute;
    transform: translate(-50%,);
    border-radius: 0.5em;
    box-shadow: 0 1em 4em rgb(17, 60, 66);
    }
/* #gamil{

}

#password{

} */
input,
#submit{
border: none;
outline: none;
display: block;
margin: 12px;
}
#submit{
    position: relative;
    left: 0;
    font-size: 1.1em;
    width: 6.1em;
    background-color: rgb(231, 251, 99);
    cursor: cell;
    padding: 0.6em;
    margin-top: 2em;
    border-radius: 0.3em;
}
input{
    background-color: transparent;
    border-bottom:3px dashed  #0d3916;
    width: 100%;
    margin-bottom: 2em;
    padding: 0em 0 0.5em 0.5em;
    /* border-bottom: 2px solid black; */
}
#msg{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
body{
   background-color:  radial-gradient(#43f7e0 2px, transparent 2px), radial-gradient(#43f7e0 2px, transparent 2px);
    /* background-color: rgb(101, 152, 161); */
    display: flex;
    place-content: center;
    padding-top: 30vh;
}

.container {
    width: 31.25em;
    height: 20em;
    background-color:#f8f8f8;
    padding: 5em 3.75em;
    position: absolute;
    transform: translate(-50%,);
    border-radius: 0.5em;
    box-shadow: 0 1em 4em rgb(0, 0, 0);
    }
/* #gamil{

} */

/* #password{

} */
input,
#submit{
border: none;
outline: none;
display: block;
margin: 12px;
}
#submit{
    position: relative;
    left: 0;
    font-size: 1.1em;
    width: 6.1em;
    background-color: rgb(231, 251, 99);
    cursor: cell;
    padding: 0.6em;
    margin-top: 2em;
    border-radius: 0.3em;
}
input{
    background-color: transparent;
    border-bottom:3px dashed  #0d3916;
    width: 100%;
    margin-bottom: 2em;
    padding: 0em 0 0.5em 0.5em;
    /* border-bottom: 2px solid black; */
}
#msg{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
margin-top: 1.4em;
margin-left: 6.3em;
color: rgb(0, 147, 20);
visibility: hidden;
}
